@font-face {
  font-family : CodeProLight;
  src         : local('Code Pro Light'), url("../fonts/CodeProLight.otf") format('embedded-opentype');
}

@font-face {
  font-family : PlayfairDisplay;
  font-style  : italic;
  src         : local('PlayfairDisplay-Italic'), url("../fonts/PlayfairDisplay-Italic.otf" format('embedded-opentype'));
}

@font-face {
  font-family : MuseoSansCyrl-100;
  font-weight : 100;
  src         : local('MuseoSansCyrl-100'), url("../fonts/MuseoSansCyrl-100.otf") format('embedded-opentype');
}

@font-face {
  font-family : MuseoSansCyrl-300;
  font-weight : 300;
  src         : local('MuseoSansCyrl-300'), url("../fonts/MuseoSansCyrl-300.otf") format('embedded-opentype');
}

@font-face {
  font-family : MuseoSansCyrl-500;
  font-weight : 500;
  src         : local('MuseoSansCyrl-500'), url("../fonts/MuseoSansCyrl-500.otf") format('embedded-opentype');
}

@font-face {
  font-family : MuseoSansCyrl-700;
  font-weight : 700;
  src         : local('MuseoSansCyrl-700'), url("../fonts/MuseoSansCyrl-700.otf") format('embedded-opentype');
}

@font-face {
  font-family : MuseoSansCyrl-900;
  font-weight : 900;
  src         : local('MuseoSansCyrl-900'), url("../fonts/MuseoSansCyrl-900.otf") format('embedded-opentype');
}